*,
*::after,
*::before {
    box-sizing: border-box;
}

.page-body {
    font-family: sans-serif;
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-menu {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-left: 250px;
}
.main-menu-item {
    display: inline-block;
    vertical-align: middle;
}
.main-menu-link {
    display: inline-block;
    vertical-align: middle;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 4px 40px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.image,
.page-buttun {
    text-align: center;
}

H2 {
    text-align: center;
    font-weight: bold;
    color: #373737;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}
.text {
    text-align: center;
    color: #373737;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.knopka {
    color: white;
    background: #ff0000;
    width: 191px;
    text-align: center;
    height: 51px;
    border-radius: 4px;
    letter-spacing: 1.8px;
    font-size: 12px;
    line-height: 12px;
    outline: none;
}
.page-buttun {
    padding-top: 50px;
}

.page-footer {
    font-style: normal;
    font-weight: bold;
    color: #373737;
    text-align: right;
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 50px;
    margin-bottom: 30px;
}
