
html {
    background-color: #F2F2F2;
    width: 100%;
  }
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {text-decoration: none;
    color: inherit;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;

}
.logo__img {
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 22px;
    padding-bottom: 21px;
}
.company-logo {
    padding-top: 22px;
    padding-bottom: 21px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    padding-left: 1px;
}
.search {
    padding-left: 26px;
    padding-right: 25px;
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: black;
}
.company-inf {
    display: flex;
}
.menu_link {
    color: white;
    font-weight: 600;
    font-size: 15px;
    font-family: sans-serif;
}
.menu_item {
    padding-left: 35px;
}
.header_banner {
    margin-top: 0px;
    min-height: 350px;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/hederlogo.jpeg) no-repeat fixed center;
}
.latest-news {
    margin: 0px;
    color: white;
    padding-top: 163px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}
.buttons {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  .btn1 {
    width: 170px;
    border-radius: 5px;
    background: #89ca62;
    padding-top: 16px;
    padding-bottom: 17px;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 44px 44px 10px;
    font-family: sans-serif;
}
.btn2 {
    width: 170px;
    padding-bottom: 17px;
    border-radius: 5px;
    margin: 44px 10px 10px;
    background: #14b9d5;
    padding-top: 16px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.section__title {
    text-align: center;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
    font-family: sans-serif;
}
.post__title {
    color: black;
    background-color: white;
    padding-top: 21px;
    padding-bottom: 21px;
    text-align: center;
    width: 370px;
    margin-top: -4px;
    font-family: sans-serif;
}
.main-posts {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 950px;
    align-content: space-between;
}
.body-banner{
    margin-top: 0px;
    min-height: 350px;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 0.5)),
      url(../img/bodylogo.jpeg) no-repeat fixed center;
}
.popular-clients {
    margin: 0px;
    color: white;
    padding-top: 106px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}
.popular-clients::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 87px auto;
    background-color: #18B4CF;
}
.brend-logo{
    display: grid;
    grid-template-areas: "national-post dryme house-home journy";
    grid-gap: 58px;
    padding-bottom: 191px;
    align-content: center;
    justify-content: center;
}
.national-post {
    grid-area: national-post;
} 
.dryme {
    grid-area: dryme;
} 
.house-home {
    grid-area: house-home;
} 
.journy {
    grid-area: journy;
} 
.gallery-imgs {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0px;
}
.news {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding: 48px 0 51px;
    margin-top: 0;
    margin-bottom: 0;
}
.posts_news {
    max-width: 1168px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 71px;
}
.post_news_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 43px;
    grid-template-areas: 
    "news1 news1 news1 news2"
    "news3 news3 news4 news4"
    "news5 news5 news6 news6"
    "news7 news8 news8 news8";
}
.news1 {
    grid-area: news1;
    margin-right: -25px;
}
.news2 {
    grid-area: news2;
}
.news3 {
    grid-area: news3;
}
.news4 {
    grid-area: news4;
}
.news5 {
    grid-area: news5;
}
.news6 {
    grid-area: news6;
}
.news7 {
    grid-area: news7;
    margin-right: -25px;
}
.news8 {
    grid-area: news8;
}
.posts_news_item {
    background-color: #F9F7F7;;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.posts_news_title {
    color: #353A3D;
    text-align: right;
    margin: 0;
}
.posts_news_text {
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin: 0;
}
.img1 {
    float: left;
}
.img8 {
    float: left;
}
.title1, .title8{
    padding: 41px 24px 14px 0;
}
.title2, .title7 {
    text-align: center;
    padding: 14px 0 11px;
}
.title3, .title4, .title5, .title6 {
    padding: 14px 27px 15px;
}
.text1, .text8 {
    padding-right: 24px;
}
.text3, .text4, .text5, .text6 {
    padding: 0 13px 1px 0;
}
.footer {
    display: grid;
    grid-auto-flow: column;
    background-color: #000000;
    margin-top: 6px;
}
.footer_text {
    color: #FFFFFF;
    padding: 29px 0 30px 367px;
    font-size: 13px;
    line-height: 13px;
}
.footer_img {
    padding-top: 29px;
}

