* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

/* img {
    vertical-align: top;
} */

.wrapper {
    position: relative;
}

.conteiner {
    max-width: 1165px;
    margin: 0 auto;
}
.menu-navigation-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.menu-navigation-link {
    font-size: 11px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 400;
    color: #4e4e4e;
    /* position: relative; */
    line-height: 22px;
}
.menu-navigation-link:hover {
    color: #57a4a4;
}
.navigation-menu {
    padding: 54px 51px;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
}
.posts h1 {
    font-size: 11px;
    color: #4e4e4e;
    font-weight: 400;
    /* text-align: ; */
    position: relative;
    padding-top: 66px;
    line-height: 22px;
    text-transform: uppercase;
}
.posts-conteiner-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    padding-top: 24px;
    grid-gap: 32px;
}
.posts-conteiner-gallery-item {
    display: flex;
    list-style: none;
}
.posts-conteiner-gallery-item h2 {
    color: #4e4e4e;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}
.posts-conteiner-gallery-info {
    padding-left: 20px;
}
.posts-conteiner-gallery-item-nowns {
    color: #7c7c7c;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.posts-conteiner-gallery-text {
    padding-top: 13px;
    color: #5c5c5c;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.instagram {
    margin-top: 69px;
    background-color: #f7f7f7;
}
.instagram-h2 {
    text-transform: uppercase;
    color: #5c5c5c;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.instagram-conteiner {
    display: flex;
    padding-top: 47px;
    justify-content: space-between;
}
.instagram-conteiner a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4e4e4e;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}
.instagram-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
    padding-top: 24px;
    grid-gap: 10px;
    padding-bottom: 90px;
}
.footer {
    background-color: #000000;
}
.footer h2 {
    color: #fefefe;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding-top: 66px;
}
.footer-text {
    color: #b9b9b9;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-top: 22px;
    max-width: 684px;
    display: block;
    margin: 0 auto;
}
.footen-inform {
    padding-top: 34px;
    padding-bottom: 70px;
    text-align: center;
    justify-content: center;
    color: #b9b9b9;
    display: flex;
}
.footen-inform a {
    text-decoration: none;
    color: #b9b9b9;
}
.social {
    display: flex;
    justify-content: center;
    padding-top: 37px;
}
.social-img {
    padding-right: 6px;
}
.footen-inform p::after,
.footen-inform a::after {
    content: "/";
    padding: 0 5px;
}
.footen-inform a:last-child::after {
    content: none;
}
.menu-icon{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #000;
    background-image: url('/img/menu-button.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}
/* justify-content: space-around; */
/* } */

@media ( max-width: 768px ){
    .navigation-container{
        display: flex;
        justify-content: flex-end;
    }
    .menu ul {
       flex-direction: column;
        position: absolute;
        background-color: #eee;
        right: 50px;
        top: 94px;
        transition: all .27s ease;
        transform: translateX(150%);
    }
    .menu ul.active{
        transform: translateX(0);
    }
    .menu-icon{
        display: block;
    }
}
