* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}
img {
    vertical-align: top;
}

.wrapper {
    position: relative;
}
.conteiner {
    max-width: 1160px;
    margin: 0 auto;
}

.menu {
    display: flex;
}

.header {
    padding: 27px 0;
    background-color: rgba(94, 93, 88, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-company {
    text-decoration: none;
    vertical-align: top;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 27px 0;
}

.logo-first-letter {
    font-size: 40px;
    font-weight: 700;
    position: relative;
    width: 58px;
    line-height: 0.7;
    background-color: #18cfab;
    text-align: center;
}

.logo-first-letter::before,
.logo-first-letter::after {
    content: "";
    position: absolute;
    right: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.logo-first-letter::before {
    top: -18px;
    border-bottom: 18px solid #18cfab;
}

.logo-first-letter::after {
    bottom: -18px;
    border-top: 18px solid #18cfab;
}

.logo-the {
    padding-left: 6px;
    font-size: 22px;
}

.logo-ham {
    font-weight: 700;
    color: #18cfab;
    font-size: 22px;
}

.menu-navigation {
    display: flex;
    list-style: none;
}

.menu-navigation-item {
    margin-left: 21px;
}

.menu-navigation-link {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}

.menu-navigation-link:hover {
    color: #18cfab;
}

.menu-navigation-link:before {
    content: "";
    position: absolute;
    bottom: -58px;
    left: 0;
    width: 100%;
    background: #18cfab;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-out;
}

.menu-navigation-link:hover:after {
    opacity: 1;
    visibility: visible;
}

.menu-navigation-link:hover:before {
    opacity: 1;
    visibility: visible;
}
.menu-search-link span {
    font-size: 16px;
    margin-left: 21px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
}
.header_banner {
    background-image: url(./img/banner/headerbanner.jpg);
    height: 1012px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.banner-slogan {
    font-size: 35px;
    text-transform: uppercase;
    color: #ffffff;
}

.banner-slogan-decoration {
    color: #18cfab;
}
.banner-main-text {
    font-size: 78px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 22px;
}
.banner-text {
    font-size: 34px;
    color: #d4d4d4;
    margin-top: 22px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 132px;
}
.button1 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 168px;
    max-width: 100%;
    height: 63px;
    color: white;
    margin: 0 13px;
    border-radius: 5px;
    border-top: 3px solid white;
    background-color: #18cfab;
}
.button2 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 168px;
    max-width: 100%;
    height: 63px;
    color: white;
    margin: 0 13px;
    border-radius: 5px;
    border-top: 3px solid white;
    background-color: #00cbf6;
}
.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 377px;
    align-self: center;
}
.top-section-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-section-item img {
    margin: 0 auto;
}
.top-section-image-wrap {
    height: 100px;
    display: flex;
    align-items: flex-end;
}
.top-section-item:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;
}

.top-section-item:nth-child(even) {
    background-color: #18cfab;
    color: #ffffff;
}
.top-section-text {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 46px;
}
.section-headline-text {
    font-size: 36px;
    color: #4e4e4e;
    font-weight: 400;
    text-align: center;
    position: relative;
    padding-top: 90px;
}
.section-headline-text:before {
    top: calc(100% + 17px);
    content: "";
    width: 79px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    right: calc(50% - 30px);
}
.section-headline-text:after {
    top: calc(100% + 20px);
    content: "";
    width: 79px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    right: calc(50% - 40px);
}
.our-services-tab {
    margin-top: 69px;
    /* border-bottom: 1px solid #EDEFEF; */
    /* border-top: 1px solid #EDEFEF; */
    background-color: #f1f1f1;
    display: inline-block;
    width: 100%;
    display: flex;
}
.our-services-tablinks {
    list-style: none;
    background-color: #f8fcfe;
    border: solid #edefef;
    border-width: 1px 0;
    position: relative;
    outline: none;
    cursor: pointer;
    padding: 16px 0;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    color: #717171;
    width: calc(100% / 6);
    text-align: center;
}
.our-services-tablinks:hover {
    border: 1px solid #18cfab;
    transition: 0.3ms;
}
.our-services-tablinks.active {
    background-color: #18cfab;
    display: block;
}
.our-services-tablinks.active::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #18cfab;
    position: absolute;
    top: 100%;
    left: calc(50% - 4.5px);
}
.our-service-tabcontent {
    display: none;
    padding: 27px 0px;
}
.our-service-tabcontent.active {
    display: flex;
}
.our-service-tabcontent img {
    display: flex;
    margin-right: 15px;
    object-fit: cover;
}
.our-service-tabcontent p {
    font-size: 13.645px;
    font-weight: 300;
    color: #777777;
    line-height: 24px;
}
.ready {
    background-image: url(./img/banner/bodybanner.png);
    height: 476px;
    padding: 126px 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ready-headline {
    font-weight: bold;
    font-size: 40px;
    color: #18cfab;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.ready-content {
    color: #d8d8d8;
    font-size: 16px;
    padding-bottom: 67px;
}
.button-ready {
    background-color: #18cfab;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 168px;
    max-width: 100%;
    height: 63px;
    color: white;
    margin: 0 13px;
    border-radius: 5px;
    border-top: 3px solid white;
}
.amazing-work {
    background-color: #E9EDEF;
    padding-bottom: 99px;
}
.amazing-work-tab {
    margin-top: 69px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.amazing-work-filter-tab {
    background-color: inherit;
    border: 1px solid #DADADA;
    border-collapse: collapse;
    cursor: pointer;
    padding: 14px 15px;
    transition: 0.3s;
    color: #717171;
    border-left: none;
    list-style: none;
}
.amazing-work-filter-tab:first-child { 
    border-left: 1px solid #DADADA;
}
.amazing-work-filter-tab:hover, .amazing-work-filter-tab.active {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}
.amazing-work-gallery {
    padding-top: 71px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.portfolio-item-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #18CFAB;
    height: 100%;
}
.portfolio-icons-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.portfolio-item-hover p.portfolio-icon-left, .portfolio-item-hover p.portfolio-icon-right {
    margin-top: 0;
}
.portfolio-icons {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid #18CFAB;
}
.portfolio-icons-wrapper .portfolio-icon-left {
    background-color: inherit;
    margin-right: 2px;
}
.portfolio-icons-wrapper .portfolio-icon-left img {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 14px;
    height: 14px;
}
.portfolio-icons-wrapper .portfolio-icon-right {
    background-color: #18CFAB;
    margin-left: 2px;
}
.portfolio-icons-wrapper .portfolio-icon-right span {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 36%;
    left: 35%;
    background: #FFFFFF;
}
.portfolio-headline {
    text-transform: uppercase;
    color: #18CFAB;
    font-size: 14px;
    padding-bottom: 8px;
}
.portfolio-text {
    color: #8A8A8A;
    font-size: 12.15px;
}
.work-portfolio-item img {
    width: 100%;
    vertical-align: top;
}
.work-portfolio-item {
    position: relative;
}
.work-portfolio-item .portfolio-item-hover {
    transition: all .3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background:#E9EDEF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.work-portfolio-item:hover .portfolio-item-hover {
    opacity: 1;
    visibility: visible;
}
.portfolio-item-hover-wrap {
    padding: 10px 0;
    text-align: center;
}
.load-more {
    background-color: #18CFAB;
    border-top: none;
    text-transform: uppercase;
    margin: 70px auto 0;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 168px;
    max-width: 100%;
    height: 63px;
    color: white;
}
.load-more span {
    font-size: 20px;
    padding-right: 12px;
    font-weight: bold;
}
.news-gallery {
    padding-top: 68px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.news-gallery-item-post {
    text-decoration: none;
    color: #717171;
}
.news-gallery-item {
    list-style: none;
    max-width: 263px;
    position: relative;
    padding-bottom: 45px;
}
.news-gallery-item-data {
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    position: absolute;
    color: #fefefe;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.news-gallery-item-data span {
    width: 100%;
    text-align: center;
} 
.news-gallery-item-post:hover .news-gallery-item-data {
    background-color: #18CFAB;
    color: #fefefe;
}
.news-gallery-item-post:hover .news-gallery-item-post-h3 {
    color: #18CFAB;
}
.news-gallery-item-post-h3 {
    font-size: 18px;
    padding-top: 6px;
    padding-left: 5px;
}
.news-gallery-item-post-comment {
    padding-top: 5px;
    padding-left: 4px;
}
.comments {
    background-image: url(./img/banner/sectionbanner4.jpg);
    height: 853px;
    background-size: cover;
}
.white-color {
    color: white;
}
.comments_img {
    padding-top: 99px;
    margin: 0 auto;
    display: block;
}
.comment-title {
    color: #BBBBBB;
}
.comments-text {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding-top: 36px;
}
.person-description {
    text-align: center;
    display: block;
    font-style: normal;
    padding-top: 40px;
}
.comments-wrapper img {
    height: 100%;
    max-height: 142px;
    display: block;
    margin: 0 auto;
    border: solid rgb(31, 218, 181, .2);
    border-radius: 50%;
    margin-top: 35px;
}
.person-name {
    font-weight: bold;
    font-size: 16px;
    color: #18CFAB;
    display: block;
    padding-bottom: 7px;
}
.slider-nav img {
    height: 58px;
    border: 1px solid rgb(31, 218, 181, .2);
    border-radius: 50%;
}
.slick-slide:focus {
    outline: none;
}
.slider-nav.slick-slider {
    width: 346px;
    margin: 35px auto 0;
}
.comments-wrapper .slick-slide img {
    margin-top: 40px;
}
.slider-nav .slick-slide {
    max-width: 118px;
    width: 100%;
    padding: 10px 0 0;
}
.slider-nav .slick-slide.slick-current {
    padding-top: 0;
}
.slick-slide img {
    margin: 0 auto;
}
.best-images {
    padding-top: 83px;
}
.best-image-item {
    padding: 0 7px 15px;
    width: 33.33%;
}
.grid-sizer {
    width: 5.55%;
}
.first-img {
    width: 16.65%;
    padding: 0 5px 10px;
}
.second-img {
    width: 11.11%;
    padding: 0 5px 5px;
    max-height: 92px;
}
footer {
    background-color: #22353F;
    margin-top: 80px;
}
.footer-copyright {
    color: #AEAEAE;
    padding: 48px 0;
    text-align: center;
}
.footer-theham {
    color: #18CFAB;
}
.slider-nav {
    position: relative;
}
.slick-arrow {
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    width: 31px;
    background: rgba(0, 0, 0, 0.0001);
    transform: translate(0, -50%);
    border: 1px solid #BBBBBB;
    height: 31px;
    padding: 0;
    margin: 0;
    background: none;
    overflow: hidden;
}
.slick-prev {
    left: -45px;
}
.slick-arrow:hover {
    background-color: #18CFAB;
    border-color: #18CFAB;
}
.slick-arrow:hover::before {
    border-color: #FFFFFF;
}
.slick-arrow:before {
    content: '';
    top: 9px;
    position: absolute;
    padding: 4px;
    height: 0px;
    width: 0;
    border: solid #bbb;
    border-width: 0 3px 3px 0;
}
.slick-arrow:focus {
    outline: none;
}
.slick-prev::before {
    left: 11px;
    transform: rotate(135deg);
}
.slick-next::before {
    left: 7px;
    transform: rotate(-45deg);
}
.slick-next {
    right: -45px;
}

