*{

}
.container {
    max-width: 1023px;
    margin: 0 auto;
  }
body {
    background: #453D2C url(../img/background\ 1.png) no-repeat ; 
    background-size: cover;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.contacts {
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.contacts-mail {
    padding-bottom: 19px;
}
.header__logo {
    display: flex;
    position: relative;
    text-decoration: none;
}
.logo__img {
    background: url(../img/logo\ 3.png);
    width: 53px;
    height: 47px;
  }
.logo_text {
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    padding-left: 8px;
  }
  .logo__milan {
    font-size: 29px;
  }
  .logo:hover .logo__img {
    background: url(../img/logo\ 2.png);
  }
.logo:hover .logo_text { 
    color: #F26522;
}
.hover:hover {
    color: #F26522;
}
.header {
    display: flex;
    margin-top: 46px;
    margin-bottom: 17px;
    justify-content: space-between;
}
.holidays {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	height: 600px;
}
.holiday-name {
    margin-top: 20px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-align: center;
}
.main {
    margin-bottom: 44px;
}
.footer-text {
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 15px;
}
.card-img .cadr-details {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 165px; 
    background-color: #F26522;
    visibility: hidden;
    opacity: 0;
    transition: opacity .27s;
    box-sizing: border-box;
    padding: 0 20px;
}
.card-img:hover .cadr-details {
    opacity: 1;
    visibility: visible;
}
.view__details {
    margin-top: 29px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 12px;
}
.view__details::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background: transparent;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.card-img {
    position: relative;
    width: 300px;
    color: white;
    overflow: hidden;
}
.card-img a.card-wrap{
    display: block;
    position: relative;
    width: 300px;
    height: 220px;
}
.card-img img{
    position: absolute;
    width: 110%;
    height: 110%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.from {
    margin: 0;
    padding-top: 7px;
    font-size: 10px;
    line-height: 10px;
}
.numeral {
    font-size: 20px;
    line-height: 20px;
}


