ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {text-decoration: none;
    color: inherit;
}
.header {
    margin-bottom: 50px;
}
.logo {
    font-size: 80px;
    margin-bottom: 38px;
    display: block;
}
.logo span {
    color: #4BCAFF;
}
body {
    padding-top: 60px;
}
.conteiner { 
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    align-items: center;
}
.menu_link {
color: aliceblue; 
}
.content__menu {
    border: 1px solid #000000;
    width: 344px;
    text-justify: left;
}
.menu_item {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 19px;
    padding-top: 26px;
    border-left: 1px solid white;  
}
.menu_item:hover {
    background-color: #222F3A;
}
.content_item {
    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.content__nav {
    width: 342px;
    margin-right: 52px;
}
.content_item:hover {
    background-color: #DBDBDB;
}
.main-text {
    display: inline-block;
}
.main-img {
    border: 1px solid #000000;
    width: 885px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 37px;
}
.main-content {
    display: flex;
}
.footer {
    display: flex;
    justify-content: space-between;
    background: #B5B7BA;
    padding-left: 40px;
    padding-right: 40px;
}
footer {
    padding-bottom: 32px;
    padding-top: 20px;
}
.footer-menu {
    display: flex;
}
.item-footer {
    margin-right: 32px;
    padding-top: 16px;
    display: inline-block;
    padding-bottom: 16px;
}
.copyright {
    padding-top: 16px;
    display: inline-block;
    padding-bottom: 16px;
}
p {
    margin-top: 0px;
    margin-bottom: 34px;
}

