.header_banner {
    margin-top: 0px;
    min-height: 350px;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./) no-repeat fixed center;
}
